In [1]:
#import the data
#Import pandas, matplotlib.pyplot, and seaborn in the correct lines below
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
colx=[1,2,3,4,5]
coly=[10,20,30]

In [3]:
print(type(colx))

<class 'list'>

In [6]:
colx_array=np.array(colx)
print(type(colx_array))

<class 'numpy.ndarray'>

In [11]:
colx_df=pd.DataFrame(colx)
coly_df=pd.DataFrame(coly)

In [12]:
print(type(colx_df))

<class 'pandas.core.frame.DataFrame'>

In [13]:
colx_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      int64
dtypes: int64(1)
memory usage: 168.0 bytes

In [15]:
colx_df.describe()

              0
count  5.000000
mean   3.000000
std    1.581139
min    1.000000
25%    2.000000
50%    3.000000
75%    4.000000
max    5.000000

In [16]:
coly_df.describe()

          0
count   3.0
mean   20.0
std    10.0
min    10.0
25%    15.0
50%    20.0
75%    25.0
max    30.0

In [17]:
colx_df.std()

0    1.581139
dtype: float64

In [18]:
coly_df.std()

0    10.0
dtype: float64